html {
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
}

.image-container img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  filter: brightness(50%);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  color: whitesmoke;
  text-align: center;
  padding-top: 150px;
}

.button {
  background-color: rgb(245, 46, 46);
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: top;
}

/* Footer section */
.footer {
  background-color: #7a0a0a;
  color: white;
  padding: 40px 20px;
  font-family: "Segoe UI", sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.footer-logo {
  height: 80px;
  margin-bottom: 15px;
}

.footer-about {
  flex: 1 1 250px;
}

.footer-about p {
  line-height: 1.6;
}

.footer-socials img {
  height: 24px;
  margin-right: 10px;
  margin-top: 10px;
}

.footer-links,
.footer-contact {
  flex: 1 1 180px;
}

.footer-links h3,
.footer-contact h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-links hr,
.footer-contact hr {
  width: 50px;
  border: 1px solid white;
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 6px;
}

.footer-links ul li a {
  color: white;
  text-decoration: none;
}

.footer-links ul li a:hover {
  text-decoration: underline;
}

.footer-contact p {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.6;
}
dialog::backdrop {
  background-color: rgb(0 0 0 / 0%);
  transition: display 0.7s allow-discrete, overlay 0.7s allow-discrete,
    background-color 0.7s;
  /* Equivalent to
  transition: all 0.7s allow-discrete; */
}
dialog::backdrop {
  background-color: rgba(130, 130, 130, 0) !important;
  transition: display 0.7s allow-discrete, overlay 0.7s allow-discrete,
    background-color 0.7s;
}
